@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, 
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px, 0;
}

img {
  /* keep the images in their container */
  width: 100%;
}

.navbar {
  background-color: #047aed;
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* As the h1 has a margin of 10 we need to add overflow to remove this */
  overflow: auto;
  padding: 0 40px;
}

 .flex {
  /* turn into a flex column */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }

 /* 14.00 mins https://www.youtube.com/watch?v=p0bGHP-PXD4&list=PL2-FTOYRzJhBP-XniVBgPPKqxWmcIThmR */